/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#container{
    
}

}
/* HEADER */
header{
    text-align: center;

}
#quadrato{
     background-color: #3498db; 
    color: #ffffff; 
 }

 ul {
    list-style: none;
}
/* MAIN */
#quadratobianco{
    margin-top: 5%;
    background-color: white; 
    color: black
    
}

body{
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-image: url(../img/sfondo.png);
  
  
 }

 .spazio{
    margin-bottom: 5%;
    margin-top: 5%;
 }



      
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
p{
    border-style: solid;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */
h4{
    margin-bottom: 0%;
    margin-top: 5%;
    text-align: center;
}
.riquadro{
    background-color: rgba(77, 74, 74, 0.094); 
    color: #ffffff; 
    width: 200px;
    margin-top: 3%;
    text-align: center;
    
    
}
/* FOOTER */

